#main-slide .carousel-caption {
    background-color: #00000059;
  }

  .footer-area .footer-social li .github:hover {
        background-color: #00000059;
  }

  .carousel-caption p.wow {
    font-weight:900;
  }

  div.spnsors-logo p {
    color:#212121;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight:900;
    line-height:1rem;
  }

  #partners {
    background-color:#f3f4f3;
  }
  p {
  font-size:18px;
  line-height:1.6em;
  }

  span.slicknav_icon.slicknav_no-text {
  display:inherit !important;
  }

  @media screen and (max-width: 768px) {
  a.navbar-brand img {
      max-width: 35% !important;
   }
  }

/*.navbar {
    background: #ffffff;
}*/ 

#header-wrap {
  margin-bottom:100px;
}
/*icone social */
.footer-area .footer-social li a { color: #fff; background:#eb6067 ; }
.footer-area .footer-social li .github:hover,  li .facebook:hover,  li .google-plus:hover, li .twitter:hover { background:#20d3aa !important; }

/**/
@media screen and (min-width: 220px) {  .navbar-expand-lg { background-color: #3b68ac;}} 

@media (min-width: 220px) and (max-width: 736px) {  .carousel-item {margin-top: 50px;}} 
